/* color mods */
.gradientsm {
    background-image: linear-gradient(
            #f0f0f0,
            #f0f0f0 20%,
            white 20%,
            white 50%,
            #f0f0f0 50%
    );
}
.gradientmd {
    background-image: linear-gradient(
            #f0f0f0,
            #f0f0f0 30%,
            white 30%,
            white 65%,
            #f0f0f0 65%
    );
}
.gradientlrg {
    background-image: linear-gradient(
            #f0f0f0,
            #f0f0f0 40%,
            white 40%,
            white 80%,
            #f0f0f0 80%
    );
}
.bg-primary {
    background-color: #f0f0f0 !important;
    color: #f0f0f0 !important;
}
.c1 {
    background-color: #e6563b;
}
.c2 {
    background-color: #EB9D3A;
}
.c3 {
    background-color: #7cb06c;
}
.c4 {
    background-color: #00aba9;
}
.a:hover {
    background-color: #555555 !important;
    /*color: darkorange !important;*/
    border-radius: 20px;
}
.tweet {
    color: #00acee;
}
.puppiness {
    height: 100%;
    position: relative;
    top: 0;
    width: 100%;
    object-fit: cover;
    border: 1em solid #e6e6e6;
}
.puppiness1 {
    height: 100%;
    position: relative;
    top: 0;
    width: 100%;
    object-fit: cover;
    border: .5em solid #e6e6e6;
}

/* container sizing */
.logosm {
    width: 200px;
    height: 200px;
}
.logomd {
    width: 160px;
    height: 150px;
}
.lrg-circle {
    width: 200px;
    height: 200px;
    border: .5em solid #ffffff;
    text-align: center;
    border-radius: 50%;
}
.sm-circle {
    width: 150px;
    height: 150px;
    border: .5em solid #ffffff;
    text-align: center;
    border-radius: 50%;
}
.icon {
    height: 18px;
    width: 18px;
    text-align: center;
    font-size: 9px;
}
.feat {
    font-size: 15px;
}
.thumbnails {
    height: 50px;
    width: 50px;
    margin-right: .5em;
}
.img-sm {
    border: 1em solid #e6e6e6;
}
.img-md {
    border: .3em solid #e6e6e6;
}


/* font sizing/families */
.heading1 {
    font-size: 4rem;
}
.heading2 {
    font-size: 3rem;
}
.heading3 {
    font-size: 2.5rem;
}
.heading4 {
    font-size: 2rem;
}
.heading5 {
    font-size: 1.75rem;
}
.abel {
    font-family: 'Abel', sans-serif;
}
.anton {
    font-family: 'Anton', sans-serif;
}
a {
    color: black !important;
    text-decoration: none !important;
}
test1