img {

}

.bg-primary {
    background-color: #e6e6e6 !important;
    color: #e6e6e6 !important;
}
.rounded-circle {
    height: 6.5em;
    width: 6.5em;
    border: .3em solid white;
    text-align: center;

}
.icon {
    height: 18px;
    width: 18px;
    text-align: center;
}
.c1 {
    background-color: #e6563b;
}
.c2 {
    background-color: #EB9D3A;
}
.c3 {
    background-color: #7cb06c;
}
.c4 {
    background-color: #00aba9;
}
.heading1 {
    font-size: 4em;
}
.heading2 {
    font-size: 3em;
}
.heading3 {
    font-size: 2.5em;
}
.heading4 {
    font-size: 2em;
}
.heading5 {
    font-size: 1.75em;
}
.abel {
    font-family: 'Abel', sans-serif;
}
.anton {
    font-family: 'Anton', sans-serif;
}
